<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="app"></div>
    <%= htmlWebpackPlugin.files.js.map(js =>
    `<script src="/${htmlWebpackPlugin.options.path.basename(js)}" charset="utf-8"></script>`
    ).join('') %>
  </body>
</html>